services:
  nginx:
    image: nginx:1.27-alpine
    ports:
      - "3000:80"
    volumes:
      - ./html:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro

networks:
  default:
    name: impala-bridge_default
    external: true
